# Robbie Tovar
## Week 3 09/03/2024
### Python built in data structures -  Python lists []

## lists notes 
- lists are used to store multiple items in a single variable.
- Lists are created using square brackets or lists() constructor 
- list items are indexed, the first item has index [0]
- lists are ordered
- the list is changeable: add, delete, adn update items

In [1]:
mylst =[50,20,20.5,100,90,10,30,50]

In [2]:
mylst

[50, 20, 20.5, 100, 90, 10, 30, 50]

In [3]:
type(mylst)

list

In [4]:
mylst[0]

50

In [5]:
mylst[-1]

50

In [6]:
mylst[-2]

30

In [7]:
len(mylst)

8

In [8]:
mylst= [50,60,90,'Alice','bob', 'Jen', True, False, 5.5, 10.15]

In [9]:
mylst[5]

'Jen'

In [10]:
len(mylst)

10

In [11]:
fruits = ['apples', 'banana', 'cherry', 'kiwi']

In [12]:
fruits[-1]

'kiwi'

In [13]:
fruits[0]

'apples'

In [14]:
fruits[2]

'cherry'

In [15]:
mylst

[50, 60, 90, 'Alice', 'bob', 'Jen', True, False, 5.5, 10.15]

In [16]:
fruits

['apples', 'banana', 'cherry', 'kiwi']

In [17]:
# slicing 
# [start:end:step]
mylst[1:5]

[60, 90, 'Alice', 'bob']

In [18]:
mylst[:]

[50, 60, 90, 'Alice', 'bob', 'Jen', True, False, 5.5, 10.15]

In [19]:
fruits[-4:]

['apples', 'banana', 'cherry', 'kiwi']

In [20]:
fruits[-3:-1]

['banana', 'cherry']

In [21]:
fruits[::-1]

['kiwi', 'cherry', 'banana', 'apples']

In [22]:
fruits

['apples', 'banana', 'cherry', 'kiwi']

In [23]:
mylst[2:7]

[90, 'Alice', 'bob', 'Jen', True]

In [24]:
mylst[2:7:2]

[90, 'bob', True]

In [25]:
# add a new element
fruits

['apples', 'banana', 'cherry', 'kiwi']

In [26]:
fruits = fruits + ['orange']

In [27]:
fruits

['apples', 'banana', 'cherry', 'kiwi', 'orange']

In [28]:
# update item in the list
fruits[1] ='mango'

In [29]:
fruits

['apples', 'mango', 'cherry', 'kiwi', 'orange']

In [30]:
fruits [-1] = 12

In [31]:
fruits

['apples', 'mango', 'cherry', 'kiwi', 12]

In [32]:
#delete an item from a list
del fruits [-1]

In [33]:
fruits

['apples', 'mango', 'cherry', 'kiwi']

In [34]:
fruits = ['apple','banana','cherry','kiwi','orange']

In [35]:
#double the list
fruits * 2

['apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'orange']

In [36]:
# use the built in function
fruits.append('banana')

In [37]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'orange', 'banana']

In [38]:
fruits.append(13)

In [39]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'orange', 'banana', 13]

In [40]:
lst=[12,10,14,15,16]

In [41]:
frutis =fruits.extend(lst)

In [42]:
fruits

['apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 'banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [43]:
len(fruits)

12

In [44]:
fruits.append([1,2,3])

In [45]:
fruits

['apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 'banana',
 13,
 12,
 10,
 14,
 15,
 16,
 [1, 2, 3]]

In [46]:
fruits[-1]

[1, 2, 3]

In [47]:
fruits.pop()

[1, 2, 3]

In [48]:
fruits

['apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 'banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [49]:
fruits.pop(1)

'banana'

In [50]:
fruits

['apple', 'cherry', 'kiwi', 'orange', 'banana', 13, 12, 10, 14, 15, 16]

In [51]:
fruits.remove('kiwi')

In [52]:
fruits

['apple', 'cherry', 'orange', 'banana', 13, 12, 10, 14, 15, 16]

In [53]:
char_lst = ['t','a','m','b','m','n',]

In [54]:
char_lst.sort()

In [55]:
char_lst

['a', 'b', 'm', 'm', 'n', 't']

In [56]:
fruits[::-1]

[16, 15, 14, 10, 12, 13, 'banana', 'orange', 'cherry', 'apple']

In [57]:
fruits

['apple', 'cherry', 'orange', 'banana', 13, 12, 10, 14, 15, 16]

In [58]:
fruits.reverse()

In [59]:
fruits

[16, 15, 14, 10, 12, 13, 'banana', 'orange', 'cherry', 'apple']

In [78]:
fruits = ('banana','Orange', 'Cherry', 'Apple')

In [103]:
# inse
fruits.insert(2, "Mango")

AttributeError: 'tuple' object has no attribute 'insert'

In [77]:
fruits

('bananaOrange', 'Cherry', 'Apple')

In [64]:
fruits.remove('apple')

In [81]:
fruits

('banana', 'Orange', 'Cherry', 'Apple')

In [83]:
fruits.remove(lemon)

AttributeError: 'tuple' object has no attribute 'remove'

In [84]:
# insert 
fruits

('banana', 'Orange', 'Cherry', 'Apple')

In [85]:
'Mango' in fruits

False

In [86]:
[4,None,'Foo'] + [2+8,'Red',10.95]

[4, None, 'Foo', 10, 'Red', 10.95]

In [87]:
new_lst = [4,None,'Foo'] + [2+8,'Red',10.95]

In [88]:
new_lst

[4, None, 'Foo', 10, 'Red', 10.95]

In [90]:
new_lst.extend([1,2,3,4,5])

In [91]:
new_lst

[4, None, 'Foo', 10, 'Red', 10.95, 1, 2, 3, 4, 5]

In [96]:
new_lst*2

[4,
 None,
 'Foo',
 10,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5,
 4,
 None,
 'Foo',
 10,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5]

In [97]:
new_lst

[4, None, 'Foo', 10, 'Red', 10.95, 1, 2, 3, 4, 5]

In [98]:
fruits

('banana', 'Orange', 'Cherry', 'Apple')

In [99]:
fruits.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [104]:
fruits = ('banana', 'Mango','Orange', 'Cherry', 'Apple')

In [105]:
fruits.sort(key=len)

AttributeError: 'tuple' object has no attribute 'sort'

In [106]:
len('Hello')

5

In [107]:
len(fruits)

5

In [110]:
# range() function, range(start, stop[, step])
range(0,10)

range(0, 10)

In [111]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
lst = list(range(10))

In [113]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
lst = list(range(10,21))

In [116]:
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [119]:
lst = list(range(10,41,1))
lst

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [120]:
lst = list(range(10,41,2))
lst

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [121]:
lst[-1]

40

In [122]:
lst[1:5]

[12, 14, 16, 18]

In [131]:
# nested list and access to nested list
lst1= list(range(10,31,10))
lst2 = list(range(30,61,10))
lst3 = list(range(60,91,10))

In [125]:
lst1

[10, 20, 30]

In [126]:
lst2

[30, 40, 50, 60]

In [132]:
lst3

[60, 70, 80, 90]

In [133]:
nest_list = [lst1,lst2,lst3]

In [135]:
nest_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [136]:
len(nest_list)

3

In [137]:
nest_list[-1]

[60, 70, 80, 90]

In [138]:
nest_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [140]:
nest_list[0][1]

20

In [142]:
nest_list[2][3]

90

In [143]:
nest_list[-1][-1]

90

In [146]:
nest_list[-2][-2:]

[50, 60]

In [149]:
nest_list[1][2: ]

[50, 60]

In [150]:
lst=['1','b',['aa','bb',['ddd','eee']],'f','g',[20,30,40] ]
lst

['1', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [151]:
len(lst)

6

In [152]:
lst[1]

'b'

In [153]:
lst[3]

'f'

In [154]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [155]:
len(lst[2])

3

In [156]:
lst[2][2]

['ddd', 'eee']

In [158]:
lst[2][2][-1]

'eee'