# Robbie Tovar
## Week 8 10/10/24
### python - lambda function - higher-order functions:map(), filter() and reduce()

**A lambda function is a small anoymous function**
<code> 
    lambda arguments : expression 
    <code>

In [20]:
def squares(x): 
    return x**2

In [21]:
squares(2)

4

In [22]:
squares = lambda x : x**2

In [23]:
squares(2)

4

In [24]:
larger = lambda x,y : x if x > y else y

In [25]:
larger(8,15)

15

In [26]:
# higher-order functions, such as map()
'''
it contains other functions as a parmater
map() - transform all the items in an iterable without using an explicit for loop
map) format: map(function, iterable)
it returns map() object
'''
def squares(x): 
    return x**2

lst = [1,2,4,5,6,3,2,7,8]


lst_squares = [x**2 for x in lst]
lst_squares

[1, 4, 16, 25, 36, 9, 4, 49, 64]

In [30]:
lst_squares = list( map(square,lst) )
lst_squares

[1, 4, 16, 25, 36, 9, 4, 49, 64]

In [32]:
lst_squares = list ( map(lambda x: x**2,lst) )
lst_squares

[1, 4, 16, 25, 36, 9, 4, 49, 64]

In [34]:
txns = [1.90, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_after_tax(txn):
    return round(txn * (1 + TAX_RATE),2)
final_prices = [get_price_after_tax(p) for p in txns]
final_prices

[2.05, 25.44, 62.47, 4.92, 7.32]

In [36]:
# map()
final_prices = list( map(get_price_after_tax, txns ))
final_prices

[2.05, 25.44, 62.47, 4.92, 7.32]

In [40]:
# map() with lambda
final_prices = list( map(lambda price : round(price * (1 + TAX_RATE),2), txns))
final_prices

[2.05, 25.44, 62.47, 4.92, 7.32]

In [43]:
farhenheit = [0,10,20,30]

def to_celsius(f):
    return round( (5/9)*(f-32) ,2)
celsius = [to_celsius(t) for t in farhenheit ]
celsius

[-17.78, -12.22, -6.67, -1.11]

In [44]:
#using map()
celsius = list(map(to_celsius, farhenheit))
celsius

[-17.78, -12.22, -6.67, -1.11]

In [45]:
# using map() with lambda
celsius = list(map(lambda f : round( (5/9)*(f-32) ,2),farhenheit))
celsius

[-17.78, -12.22, -6.67, -1.11]

In [48]:
fahrenheit = {'t1':0, 't2':10, 't3':20, 't4':30}

celsius_dict = {k : to_celsius(v) for k,v in fahrenheit.items() }
celsius_dict

{'t1': -17.78, 't2': -12.22, 't3': -6.67, 't4': -1.11}

In [53]:
# map() and lambda 
celsius = list(map(lambda f: round((5/9)*(f-32),2), fahrenheit.values()))

In [54]:
dict(zip(fahrenheit.keys(), celsius))

{'t1': -17.78, 't2': -12.22, 't3': -6.67, 't4': -1.11}

In [56]:
# the filter() function extracts elements from iterable
# for which a function returns True

def even(num):
    return num%2 == 0
lst = list(range(1,16,1))

In [58]:
even_lst = list(filter(even,lst))
even_lst

[2, 4, 6, 8, 10, 12, 14]

In [59]:
even_lst = [x for x in lst if even(x)]
even_lst

[2, 4, 6, 8, 10, 12, 14]

In [60]:
even_lst = list(filter(lambda n: n%2 ==0,lst))
even_lst

[2, 4, 6, 8, 10, 12, 14]

In [61]:
even_lst = list(map(lambda n: n%2 ==0,lst))
even_lst

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [63]:
# reduce() Function
import functools
from functools import reduce

lst = list(range(5,15,2))
lst

[5, 7, 9, 11, 13]

In [66]:
def prod(x,y):
    return x * y * (x+y)

product = reduce(prod, lst)
product

10877547354294428809862040180

In [67]:
product = reduce(lambda x,y: x*y, lst)
product

45045

In [68]:
product = reduce(lambda x,y: x*(1/y), lst)
product

0.0005550005550005549

In [ ]:
count()