# Robbie Tovar
## week5 9/19/24
### python statements [if,else,elif]

** THE fromat of the if-statment**

```

if condition:
    perform action(s)
    
    if condition:
        perform action(s)
    else: 
        perform action(s)
        
if condition1
    perform action1
elif conditon2:
    perform action2
else:
    perform action3
```

In [1]:
# if statement 
if 5 > 4: 
    print("Yes,5 is greater than 4!")

Yes,5 is greater than 4!

In [2]:
# using esle 
if 5< 4:
    print("yes, 5 is greater than 4!")
else: 
    print("No, 5 is not less than 4")

No, 5 is not less than 4

In [3]:
value = 5
if value ==5:
    print("hi five")
else: 
    print('lets try again')

hi five

In [4]:
test1 = 98
test2 = 87
if test1 < test2:
    print("you may redo test1")
else:
    print("you may redo test2")

you may redo test2

In [5]:
if test1 < test2:
    print("you may redo test1")

In [6]:
# if-elif statement 
test1 = int(input("test1 score: "))
test2 = int(input('test2 score: '))

if test1 > test2:
    print(f"test1 {test1} is greater than test2 {test2}")
    print(f"you may think to redo test2 {test2}")
elif test2 > test1: 
    print(f"test1 {test1} is not greater than test2 {test2}")
    print(f"you may think to redo test1")
else:
    print(f"test1 {test1} and test2 {test2} scores are equal ")

test1 score: 1
test2 score: 2
test1 1 is not greater than test2 2
you may think to redo test1

In [7]:
# one lien if statements
if test2 > test1 : print(f'test2 {test2} is greater than test1 {test1}')

test2 2 is greater than test1 1

In [9]:
if 'c' in 'cis': print('3',end=''); print('1',end=''); print('0', end='')

310

In [11]:
# short hand if else 

print(f'test1 {test1}') if test1> test2 else print(f"test2 {test2}")

test2 2

In [16]:
raining = True 
print("let's head out ", "for a run" if not raining else 'to the rec center')

let's head out  to the rec center

In [17]:
age = 12
print('minor' if age < 21 else 'adult')

minor

In [28]:
# and, or 
s1, s2, s3 = 89,75,92
if(s1 > s2) and (s3 > s2): 
    print("Both conditions are evaluated to True!")

Both conditions are evaluated to True!

In [21]:
# or logical operator 
if(s1 > s2) or (s3 > s2):
    print("at least one of the conditions is evaluated to true ")

at least one of the conditions is evaluated to true

In [30]:
#Nested if statement 
if s1> 40:
    print('s1 is above 40!')
    if s1 > 60:
        print('s1 is above 60!')
        if s1 > 80:
            print("s1 is above 80!")
            if s1> 90:
                print('s1 is above 90!')
            else: 
                # print('s1 is below 90')
                pass

s1 is above 40!
s1 is above 60!
s1 is above 80!

In [32]:
# easy way to use built in function, insead of if statement 
names = {'Fred': "hello fred", 'Rama': 'hello rama', 'joe':'hello joe', 'alice':'hello alice'}
names

{'Fred': 'hello fred',
 'Rama': 'hello rama',
 'joe': 'hello joe',
 'alice': 'hello alice'}

In [34]:
print(names['Fred'])

hello fred

In [37]:
print(names['Rama'])

hello rama

In [38]:
print(names['Jen'])

KeyError: 'Jen'

In [39]:
'joe' in names

True

In [40]:
'jen' in names

False

In [42]:
print(names['jen'] if 'jen' in names else 'dont know who you are')

dont know who you are

In [43]:
print(names.get('joe'))

hello joe

In [44]:
print(names.get('jen'))

None

In [46]:
print(names.get('jen', 'I dont know who you are'))

I dont know who you are

In [48]:
names.keys()

dict_keys(['Fred', 'Rama', 'joe', 'alice'])

In [50]:
names.values()

dict_values(['hello fred', 'hello rama', 'hello joe', 'hello alice'])

In [51]:
names.items()

dict_items([('Fred', 'hello fred'), ('Rama', 'hello rama'), ('joe', 'hello joe'), ('alice', 'hello alice')])

In [53]:
t = tuple(names.items())

In [54]:
t

(('Fred', 'hello fred'),
 ('Rama', 'hello rama'),
 ('joe', 'hello joe'),
 ('alice', 'hello alice'))

In [55]:
('fred', 'hello fred') in t

False

In [56]:
('joe', 'hello joe') in t

True

In [57]:
lst = list(range(21))
lst2 = list(range(20,41))

In [58]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
lst2

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [60]:
lst1 = list(zip(lst,lst2))

In [61]:
lst1

[(0, 20),
 (1, 21),
 (2, 22),
 (3, 23),
 (4, 24),
 (5, 25),
 (6, 26),
 (7, 27),
 (8, 28),
 (9, 29),
 (10, 30),
 (11, 31),
 (12, 32),
 (13, 33),
 (14, 34),
 (15, 35),
 (16, 36),
 (17, 37),
 (18, 38),
 (19, 39),
 (20, 40)]

In [62]:
(20,22) in lst1

False

In [63]:
(0,20) in lst1

True

In [65]:
(19, 39) in lst1

True