# Robbie Tovar
## Week 11 10/29/24 
### python - numPy universal functions

In [1]:
# universal functions are a powerful too for preforming mathematical oeprations on NumPy array.s
import numpy as np
arr_1d = np.arange(21)
arr_1d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [2]:
#sqrt
np.sqrt(arr_1d)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739,
       3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894,
       4.47213595])

In [3]:
arr_1d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [4]:
# the numpy.random.rand() function creates 
arr_1d = np.random.randn(10)
arr_1d

array([-1.52000477,  1.60752999, -3.38396115,  0.57988627, -0.7595932 ,
        0.07257554,  1.01780535, -2.59345419, -0.2765315 , -0.14135387])

In [5]:
arr_2d = np.random.randn(4,5)
arr_2d

array([[ 1.75099797e-01, -6.17055470e-01,  6.24890659e-02,
         1.27417115e-03,  4.39777586e-01],
       [ 1.57316753e+00, -9.50213733e-01,  7.81982720e-01,
        -1.09865436e+00, -1.76621620e+00],
       [-1.90670025e+00,  1.27006435e-01, -4.53921323e-01,
         7.01515701e-02,  5.73872308e-01],
       [-3.54705092e-01,  1.18321628e+00, -4.97388253e-01,
         1.17702188e+00,  1.48072841e-01]])

In [6]:
arr_3d = np.random.randn(4,5,2)
arr_3d

array([[[-2.23986949, -0.93795659],
        [ 0.04960215, -1.1327549 ],
        [ 1.61720248, -0.81939962],
        [ 0.98084173, -0.29486135],
        [ 1.66512761,  1.74711496]],

       [[ 0.1688249 ,  1.24153681],
        [ 0.45815765,  1.00131304],
        [ 1.01786966,  0.59189042],
        [-0.53610154,  0.43361429],
        [-0.98830701, -0.66674123]],

       [[-1.04053219, -1.28626826],
        [ 1.09719923, -0.44098625],
        [ 2.07493011, -0.66725719],
        [-1.32573707, -0.40652785],
        [-1.32182784, -0.55824413]],

       [[-0.60301005,  0.18923011],
        [ 0.99773616,  1.24776682],
        [-0.57760507,  1.14536433],
        [ 0.17762225,  0.72503473],
        [ 0.60285099,  0.83505335]]])

In [7]:
arr_1d

array([-1.52000477,  1.60752999, -3.38396115,  0.57988627, -0.7595932 ,
        0.07257554,  1.01780535, -2.59345419, -0.2765315 , -0.14135387])

In [8]:
arr_11d = np.random.randn(10)
arr_11d

array([ 0.96760028, -0.54097278,  1.6588416 ,  0.45427264,  1.22993872,
       -0.6809231 ,  0.15801921,  1.54398118, -1.40852512, -0.82312729])

In [9]:
np.add(arr_1d,arr_11d)

array([-0.55240448,  1.06655721, -1.72511955,  1.03415891,  0.47034552,
       -0.60834756,  1.17582456, -1.04947301, -1.68505661, -0.96448117])

In [10]:
# maximum
np.maximum(arr_1d,arr_11d)

array([ 0.96760028,  1.60752999,  1.6588416 ,  0.57988627,  1.22993872,
        0.07257554,  1.01780535,  1.54398118, -0.2765315 , -0.14135387])

In [11]:
np.minimum(arr_1d,arr_11d)

array([-1.52000477, -0.54097278, -3.38396115,  0.45427264, -0.7595932 ,
       -0.6809231 ,  0.15801921, -2.59345419, -1.40852512, -0.82312729])

In [12]:
arr1= np.arange(9).reshape((3,3))
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [13]:
arr2 = np.ones(9).reshape((3,3))
arr2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [14]:
np.add(arr1,arr2)

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [15]:
#array filtering
arr1<4

array([[ True,  True,  True],
       [ True, False, False],
       [False, False, False]])

In [16]:
arr_2d <= 2

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])

In [17]:
arr_2d > 0

array([[ True, False,  True,  True,  True],
       [ True, False,  True, False, False],
       [False,  True, False,  True,  True],
       [False,  True, False,  True,  True]])

In [18]:
arr_3d > 0

array([[[False, False],
        [ True, False],
        [ True, False],
        [ True, False],
        [ True,  True]],

       [[ True,  True],
        [ True,  True],
        [ True,  True],
        [False,  True],
        [False, False]],

       [[False, False],
        [ True, False],
        [ True, False],
        [False, False],
        [False, False]],

       [[False,  True],
        [ True,  True],
        [False,  True],
        [ True,  True],
        [ True,  True]]])

In [19]:
arr_3d

array([[[-2.23986949, -0.93795659],
        [ 0.04960215, -1.1327549 ],
        [ 1.61720248, -0.81939962],
        [ 0.98084173, -0.29486135],
        [ 1.66512761,  1.74711496]],

       [[ 0.1688249 ,  1.24153681],
        [ 0.45815765,  1.00131304],
        [ 1.01786966,  0.59189042],
        [-0.53610154,  0.43361429],
        [-0.98830701, -0.66674123]],

       [[-1.04053219, -1.28626826],
        [ 1.09719923, -0.44098625],
        [ 2.07493011, -0.66725719],
        [-1.32573707, -0.40652785],
        [-1.32182784, -0.55824413]],

       [[-0.60301005,  0.18923011],
        [ 0.99773616,  1.24776682],
        [-0.57760507,  1.14536433],
        [ 0.17762225,  0.72503473],
        [ 0.60285099,  0.83505335]]])

In [20]:
# using where()
#replace values of an array, using where
from numpy.random import randn
arr = randn(3,3)
arr

array([[ 0.15915598, -1.10049401,  0.71179567],
       [-1.72391246, -0.17662417, -0.31371056],
       [-0.4700131 , -1.66468422,  0.20545201]])

In [21]:
np.where(arr<0,0,arr)

array([[0.15915598, 0.        , 0.71179567],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.20545201]])

In [22]:
np.where(arr<0,0,1)

array([[1, 0, 1],
       [0, 0, 0],
       [0, 0, 1]])

In [23]:
np.where([True, True, False], 1,0)

array([1, 1, 0])

In [24]:
arr

array([[ 0.15915598, -1.10049401,  0.71179567],
       [-1.72391246, -0.17662417, -0.31371056],
       [-0.4700131 , -1.66468422,  0.20545201]])

In [25]:
np.where(arr>-1,1,0)

array([[1, 0, 1],
       [0, 1, 1],
       [1, 0, 1]])

In [26]:
np.where((arr < 0) & (arr > .5), 4,2)

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [27]:
arr = np.where([True,False,True],1,0)
arr

array([1, 0, 1])

In [28]:
# array for random sampling fo true and flase valuies
sample =[True,False]
arr_boo1 = np.random.choice(sample, size = 10)
arr_boo1

array([ True,  True, False,  True,  True, False,  True, False,  True,
        True])

In [29]:
arr1 = np.arange(1,11)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [30]:
arr1=np.arange(1,11)
arr2=np.arange(1,11)*10

In [31]:
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [32]:
arr2

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [33]:
arr=np.where(arr_boo1,arr1,arr2)
arr

array([ 1,  2, 30,  4,  5, 60,  7, 80,  9, 10])

In [34]:
#using list comprehensiojn
arr = [r1 if c else r2 for r1, r2,c in zip(arr1,arr2,arr_boo1)]
arr

[1, 2, 30, 4, 5, 60, 7, 80, 9, 10]

In [35]:
list(zip(arr1,arr2,arr_boo1))

[(1, 10, True),
 (2, 20, True),
 (3, 30, False),
 (4, 40, True),
 (5, 50, True),
 (6, 60, False),
 (7, 70, True),
 (8, 80, False),
 (9, 90, True),
 (10, 100, True)]

In [36]:
# using where with 2-d array
arr1 = np.arange(1,5).reshape(2,2)
arr2 = np.arange(5,9).reshape(2,2)

In [37]:
arr1

array([[1, 2],
       [3, 4]])

In [38]:
arr2

array([[5, 6],
       [7, 8]])

In [39]:
arr_boo1=np.array([np.random.choice(sample,size=2), np.random.choice(sample,size=2), ])
arr_boo1

array([[ True, False],
       [False,  True]])

In [40]:
arr_boo1.all()

False

In [41]:
#any()
#all
arr_boo1=np.random.choice(sample,size=5)
arr_boo1

array([False, False,  True, False,  True])

In [42]:
arr_boo1.any()

True

In [43]:
# unique
fruits = np.array(['Apple', 'Cherry', 'Orange', 'Cherry', 'Banana',])
fruits

array(['Apple', 'Cherry', 'Orange', 'Cherry', 'Banana'], dtype='<U6')

In [44]:
set(fruits)

{'Apple', 'Banana', 'Cherry', 'Orange'}

In [45]:
'apple' in set(fruits)

False

In [46]:
np.in1d(['Apple', 'Cherry', 'Grape'],fruits)

array([ True,  True, False])

In [47]:
#descriptive statistical measures 
arr = np.arange(1,10).reshape(3,3)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [48]:
arr.sum

In [49]:
# axus0
arr.sum(0)

array([12, 15, 18])

In [50]:
arr.sum(1)

array([ 6, 15, 24])

In [51]:
np.sum(arr)

45

In [52]:
np.sum(arr,axis=1)

array([ 6, 15, 24])

In [53]:
print(arr.mean(),' ',arr.mean(0),' ',arr.mean(1))

5.0   [4. 5. 6.]   [2. 5. 8.]

In [54]:
print(np.mean(arr),' ',np.mean(arr, axis=0),' ',np.mean(arr,axis=1))

5.0   [4. 5. 6.]   [2. 5. 8.]

In [55]:
print(arr.std(),' ',arr.std(0),' ',arr.std(1))

2.581988897471611   [2.44948974 2.44948974 2.44948974]   [0.81649658 0.81649658 0.81649658]

In [56]:
#dot product of two arrays
arr=np.arange(5,20).reshape((3,5))
arr

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [58]:
arr2 = np.random.random((5,4))*10
arr2

array([[2.09291792, 3.4392103 , 5.20328754, 3.1605369 ],
       [5.44857821, 7.6755417 , 6.75019244, 5.869543  ],
       [3.09113692, 7.65851947, 3.42250967, 3.53569737],
       [0.12663015, 1.22398553, 4.72613587, 6.74201142],
       [8.09189161, 3.90636063, 4.31516551, 1.09012915]])

In [59]:
np.dot(arr,arr2)

array([[138.63408296, 161.80806792, 167.12073651, 139.51707781],
       [232.889857  , 281.32615609, 289.20719161, 241.50666702],
       [327.14563104, 400.84424425, 411.29364672, 343.49625623]])

In [61]:
# random - different function - short imports
from numpy.random import randn, random

In [63]:
random((2,4))

array([[0.46108493, 0.79842703, 0.16090229, 0.6194447 ],
       [0.16727608, 0.73696003, 0.53562419, 0.36040957]])

In [64]:
randn(3,3)

array([[ 0.40861787,  0.22262501,  0.26236511],
       [ 1.39752766, -0.24484344,  0.68595346],
       [ 0.18220891, -0.1409922 , -0.84345733]])

In [68]:
# joining numpy arrasys
arr1 =  np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.concatenate((arr1,arr2))
arr

array([1, 2, 3, 4, 5, 6])

In [69]:
arr1

array([1, 2, 3])

In [70]:
arr2

array([4, 5, 6])

In [71]:
np.concatenate((arr1,arr2), axis = 0)

array([1, 2, 3, 4, 5, 6])

In [76]:
np.concatenate((arr1,arr2), axis = 1)

AxisError: axis 1 is out of bounds for array of dimension 1

In [77]:
#splitting numpy arrays
arr = random(10) * 10
arr

array([9.89907028, 7.78984359, 1.1262499 , 9.15917218, 0.49530203,
       1.37775315, 0.25429682, 4.68491923, 7.28216972, 3.00751157])

In [78]:
np.array_split(arr,5)

[array([9.89907028, 7.78984359]),
 array([1.1262499 , 9.15917218]),
 array([0.49530203, 1.37775315]),
 array([0.25429682, 4.68491923]),
 array([7.28216972, 3.00751157])]

In [79]:
np.array_split(arr,4)

[array([9.89907028, 7.78984359, 1.1262499 ]),
 array([9.15917218, 0.49530203, 1.37775315]),
 array([0.25429682, 4.68491923]),
 array([7.28216972, 3.00751157])]

In [83]:
arr_split = np.array_split(arr,5)
arr_split

[array([9.89907028, 7.78984359]),
 array([1.1262499 , 9.15917218]),
 array([0.49530203, 1.37775315]),
 array([0.25429682, 4.68491923]),
 array([7.28216972, 3.00751157])]

In [84]:
arr_split[0].astype(int)

array([9, 7])

In [85]:
#using numpy to find out higher scores in two exams
test1 = np.rint(random(50)*101)
test2 = np.rint(random(50)*101)

In [86]:
test1

array([ 98.,  72.,  63.,  17.,  88.,   6.,  45.,  67.,  44.,  46.,  61.,
        98.,  73.,  74.,  25.,  62.,   8.,  13.,  94.,  26.,  36.,  63.,
        60.,  69.,  29.,  69.,  98.,  90.,  67.,  75.,  30.,   1.,   8.,
        36.,  99.,  23.,  44.,  78.,   2., 100.,  64.,   3.,  44.,  45.,
        61.,  17.,  94.,  38.,  19.,  92.])

In [87]:
test2

array([  4.,  14.,  27., 100.,  88.,  50.,  37.,  95.,  67.,  35.,  61.,
        97.,   5.,  21.,  55.,  45.,   4.,  56.,  88.,   7.,  38.,  56.,
        23.,  17.,  92.,  90.,  25.,   7.,  83.,  83.,  48.,   4.,  81.,
         7.,  67.,  25.,  84.,  81.,  64.,  55.,  39.,  23.,  50.,  62.,
        79.,  59.,  67.,  93.,  10.,  68.])

In [88]:
test1.max()

100.0

In [89]:
test1.min()

1.0

In [93]:
test2.max()

100.0

In [91]:
test2.min()

4.0

In [95]:
test = np.maximum(test1,test2)
test

array([ 98.,  72.,  63., 100.,  88.,  50.,  45.,  95.,  67.,  46.,  61.,
        98.,  73.,  74.,  55.,  62.,   8.,  56.,  94.,  26.,  38.,  63.,
        60.,  69.,  92.,  90.,  98.,  90.,  83.,  83.,  48.,   4.,  81.,
        36.,  99.,  25.,  84.,  81.,  64., 100.,  64.,  23.,  50.,  62.,
        79.,  59.,  94.,  93.,  19.,  92.])

In [96]:
test.max()

100.0

In [97]:
test.min()

4.0

In [98]:
np.where(test1>test2, test1, test2)

array([ 98.,  72.,  63., 100.,  88.,  50.,  45.,  95.,  67.,  46.,  61.,
        98.,  73.,  74.,  55.,  62.,   8.,  56.,  94.,  26.,  38.,  63.,
        60.,  69.,  92.,  90.,  98.,  90.,  83.,  83.,  48.,   4.,  81.,
        36.,  99.,  25.,  84.,  81.,  64., 100.,  64.,  23.,  50.,  62.,
        79.,  59.,  94.,  93.,  19.,  92.])

In [99]:
test_boo1 = test1 > test2
test_boo1

array([ True,  True,  True, False, False, False,  True, False, False,
        True, False,  True,  True,  True, False,  True,  True, False,
        True,  True, False,  True,  True,  True, False, False,  True,
        True, False, False, False, False, False,  True,  True, False,
       False, False, False,  True,  True, False, False, False, False,
       False,  True, False,  True,  True])

In [100]:
np.where(test_boo1, test1, test2)

array([ 98.,  72.,  63., 100.,  88.,  50.,  45.,  95.,  67.,  46.,  61.,
        98.,  73.,  74.,  55.,  62.,   8.,  56.,  94.,  26.,  38.,  63.,
        60.,  69.,  92.,  90.,  98.,  90.,  83.,  83.,  48.,   4.,  81.,
        36.,  99.,  25.,  84.,  81.,  64., 100.,  64.,  23.,  50.,  62.,
        79.,  59.,  94.,  93.,  19.,  92.])