# Robbie Tovar
## week 10 10/24/24 - week 11 10/29/24
### python numpy - creating processing transporting arrays

In [1]:
import numpy as np
#zeros
arr_1d = np.zeros(10)
arr_1d

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [2]:
arr_2d = np.zeros((5,10))
arr_2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [3]:
arr_1d + 5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [4]:
arr_2d + 5

array([[5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.]])

In [5]:
arr = np.ones((5,5,2))
arr

array([[[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]]])

In [6]:
arr.shape

(5, 5, 2)

In [7]:
arr = np.empty((5,2))
arr

array([[5., 5.],
       [5., 5.],
       [5., 5.],
       [5., 5.],
       [5., 5.]])

In [8]:
arr = np.empty(((2,2,2)), dtype=int)
arr

array([[[6029427, 7274596],
        [7209076, 7602277]],

       [[4390971, 6029370],
        [7471184, 6750319]]])

In [9]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
arr = np.arange(10,101,10)
arr

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [11]:
#reshape an array
#reshape 1-d 2-d
arr_1d = np.arange(1,13,1)
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [12]:
arr_2d = arr_1d.reshape(2,6)

In [13]:
arr_2d

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [14]:
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [15]:
arr_2d

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [16]:
arr_1d[:4]=[0,0,0,0]
arr

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [17]:
arr_1d

array([ 0,  0,  0,  0,  5,  6,  7,  8,  9, 10, 11, 12])

In [18]:
arr_2d = np.arange(1,13,1).reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [19]:
arr_3d = np.arange(1,13,1).reshape(3,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [20]:
arr_3d = np.arange(1,13,1).reshape(2,3,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [21]:
#pass -1 as the valu,e numpy will calculate this number for you
arr_3d = np.arange(1,13,1).reshape(2,-1,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [22]:
arr_3d = np.arange(1,13,1).reshape(2,2,-1)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [23]:
#reshape 3d to 1d
arr_3d.reshape(-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [24]:
arr_3d.reshape((-1,3))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [25]:
arr_2d = arr_3d.reshape((-1,3))

In [26]:
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [27]:
arr_2d.shape

(4, 3)

In [28]:
#integrating 1-d
for n in arr_1d:
    print(n)

0
0
0
0
5
6
7
8
9
10
11
12

In [29]:
#iterating 2-d
for n in  arr_2d:
    print(n)

[1 2 3]
[4 5 6]
[7 8 9]
[10 11 12]

In [30]:
for n in arr_2d:
    for num in n:
        print(n)

[1 2 3]
[1 2 3]
[1 2 3]
[4 5 6]
[4 5 6]
[4 5 6]
[7 8 9]
[7 8 9]
[7 8 9]
[10 11 12]
[10 11 12]
[10 11 12]

In [31]:
#iterating 3d array
for n in arr_3d:
    for row in n:
        for num in row:
            print(num, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12

In [32]:
#nditer iterates on each scalar elemtn in np array
for n in np.nditer(arr_3d):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12

In [33]:
for n in np.nditer(arr_2d):
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12

In [34]:
#mmultidemensional index iterator 
#ndenumerate()
for i, n in np.ndenumerate(arr_1d):
    print(i, n)

(0,) 0
(1,) 0
(2,) 0
(3,) 0
(4,) 5
(5,) 6
(6,) 7
(7,) 8
(8,) 9
(9,) 10
(10,) 11
(11,) 12

In [35]:
for i, n in np.ndenumerate(arr_2d):
    print(i, n)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(1, 0) 4
(1, 1) 5
(1, 2) 6
(2, 0) 7
(2, 1) 8
(2, 2) 9
(3, 0) 10
(3, 1) 11
(3, 2) 12

In [36]:
for i, n in np.ndenumerate(arr_3d):
    print(i,n)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 0, 2) 3
(0, 1, 0) 4
(0, 1, 1) 5
(0, 1, 2) 6
(1, 0, 0) 7
(1, 0, 1) 8
(1, 0, 2) 9
(1, 1, 0) 10
(1, 1, 1) 11
(1, 1, 2) 12

In [37]:

arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [38]:
arr_3d[:,:,-2]

array([[ 2,  5],
       [ 8, 11]])

In [39]:
arr_3d[...,-2:]

array([[[ 2,  3],
        [ 5,  6]],

       [[ 8,  9],
        [11, 12]]])

In [40]:
for n in np.nditer(arr_3d[:,:,-2]):
    print(n,end='')

25811

In [41]:
# operations 
arr_2d = np.arange.(1,9).reshape(4,2)
arr_2d

SyntaxError: invalid syntax (<ipython-input-41-5f6379f29741>, line 2)

In [42]:
arr_2d+arr_2d

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

In [43]:
arr_2d - arr_2d

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [44]:
arr_2d * .5

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ],
       [3.5, 4. , 4.5],
       [5. , 5.5, 6. ]])

In [45]:
arr_2d **2

array([[  1,   4,   9],
       [ 16,  25,  36],
       [ 49,  64,  81],
       [100, 121, 144]], dtype=int32)

In [46]:
arr_2d**3

array([[   1,    8,   27],
       [  64,  125,  216],
       [ 343,  512,  729],
       [1000, 1331, 1728]], dtype=int32)

In [47]:
#.T some as self.transpose()
# returns the transpose of the matirc
arr_1d = np.arange(10)
arr_1d

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
arr_1d.T

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [50]:
arr_2d.shape

(4, 3)

In [51]:
arr_2d.T

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [52]:
arr_2d=np.arange(45).reshape(9,5)

In [53]:
arr_2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44]])

In [55]:
arr_t = arr_2d.T

In [57]:
arr_t

array([[ 0,  5, 10, 15, 20, 25, 30, 35, 40],
       [ 1,  6, 11, 16, 21, 26, 31, 36, 41],
       [ 2,  7, 12, 17, 22, 27, 32, 37, 42],
       [ 3,  8, 13, 18, 23, 28, 33, 38, 43],
       [ 4,  9, 14, 19, 24, 29, 34, 39, 44]])

In [58]:
arr_2d[0]=100
arr_2d

array([[100, 100, 100, 100, 100],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44]])

In [59]:
arr_t

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [60]:
arr_t.shape

(5, 9)

In [61]:
arr_3d=np.arange(1,21).reshape(-1,5,4)
arr_3d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12],
        [13, 14, 15, 16],
        [17, 18, 19, 20]]])

In [62]:
arr_3d.shape

(1, 5, 4)

In [63]:
arr_3d.T

array([[[ 1],
        [ 5],
        [ 9],
        [13],
        [17]],

       [[ 2],
        [ 6],
        [10],
        [14],
        [18]],

       [[ 3],
        [ 7],
        [11],
        [15],
        [19]],

       [[ 4],
        [ 8],
        [12],
        [16],
        [20]]])

In [64]:
arr_3d.T.shape

(4, 5, 1)

In [65]:
# transpose()
arr_2d

array([[100, 100, 100, 100, 100],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44]])

In [66]:
arr_2d.transpose()

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [67]:
arr_2d.transpose(0,1)

array([[100, 100, 100, 100, 100],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44]])

In [68]:
arr_2d.transpose(1,0) # changes rows with coluns axis0, with axis 1

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [69]:
arr_2d.shape

(9, 5)

In [70]:
arr_2d.shape[0]

9

In [71]:
arr_2d.shape[1
            ]

5

In [72]:
arr_3d = np.arange(20).reshape(2,5,2)
arr_3d

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [74]:
arr_3d.T.shape

(2, 5, 2)

In [75]:
arr_3d.transpose()

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [76]:
arr_3d.transpose().shape

(2, 5, 2)

In [78]:
arr_3d.transpose(0,1,2) # no change in the axis, same order

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [80]:
arr_3d.transpose(1,0,2) #change the axis1 with axis0

array([[[ 0,  1],
        [10, 11]],

       [[ 2,  3],
        [12, 13]],

       [[ 4,  5],
        [14, 15]],

       [[ 6,  7],
        [16, 17]],

       [[ 8,  9],
        [18, 19]]])

In [81]:
arr_3d.transpose(1,0,2).shape

(5, 2, 2)

In [84]:
arr_3d.transpose(0,2,1)

array([[[ 0,  2,  4,  6,  8],
        [ 1,  3,  5,  7,  9]],

       [[10, 12, 14, 16, 18],
        [11, 13, 15, 17, 19]]])

In [85]:
arr_3d.transpose(0,2,1).shape

(2, 2, 5)

In [86]:
arr_t

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [87]:
arr_t =arr_3d.transpose(1,0,2)
arr_t

array([[[ 0,  1],
        [10, 11]],

       [[ 2,  3],
        [12, 13]],

       [[ 4,  5],
        [14, 15]],

       [[ 6,  7],
        [16, 17]],

       [[ 8,  9],
        [18, 19]]])

In [88]:
arr_3d[0] = 555

In [89]:
arr_3d

array([[[555, 555],
        [555, 555],
        [555, 555],
        [555, 555],
        [555, 555]],

       [[ 10,  11],
        [ 12,  13],
        [ 14,  15],
        [ 16,  17],
        [ 18,  19]]])

In [90]:
arr_t

array([[[555, 555],
        [ 10,  11]],

       [[555, 555],
        [ 12,  13]],

       [[555, 555],
        [ 14,  15]],

       [[555, 555],
        [ 16,  17]],

       [[555, 555],
        [ 18,  19]]])

In [91]:
#swapaxes
arr_1d = np.arange(5,16,5)
arr_1d

array([ 5, 10, 15])

In [92]:
arr_2d = arr_1d.reshape(1,3)

In [93]:
arr_2d

array([[ 5, 10, 15]])

In [94]:
arr_2d.swapaxes(0,1)

array([[ 5],
       [10],
       [15]])

In [95]:
arr_3d = np.arange(45).reshape(3,5,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [96]:
arr_3d.shape

(3, 5, 3)

In [97]:
arr_3d.swapaxes(1,2)

array([[[ 0,  3,  6,  9, 12],
        [ 1,  4,  7, 10, 13],
        [ 2,  5,  8, 11, 14]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])

In [98]:
arr_3d.swapaxes(0,2).shape

(3, 5, 3)

In [99]:
arr_3d[2]= 500

In [100]:
arr_3d

array([[[  0,   1,   2],
        [  3,   4,   5],
        [  6,   7,   8],
        [  9,  10,  11],
        [ 12,  13,  14]],

       [[ 15,  16,  17],
        [ 18,  19,  20],
        [ 21,  22,  23],
        [ 24,  25,  26],
        [ 27,  28,  29]],

       [[500, 500, 500],
        [500, 500, 500],
        [500, 500, 500],
        [500, 500, 500],
        [500, 500, 500]]])

In [101]:
arr_3d.swapaxes(0,2)

array([[[  0,  15, 500],
        [  3,  18, 500],
        [  6,  21, 500],
        [  9,  24, 500],
        [ 12,  27, 500]],

       [[  1,  16, 500],
        [  4,  19, 500],
        [  7,  22, 500],
        [ 10,  25, 500],
        [ 13,  28, 500]],

       [[  2,  17, 500],
        [  5,  20, 500],
        [  8,  23, 500],
        [ 11,  26, 500],
        [ 14,  29, 500]]])