# Robbie Tovar
## Week 13: 11/14/23
### python - pandas dataframe - mapping, applying,  grouping, plotting

In [1]:
import numpy as np
from pandas import *
import pandas as pd

In [10]:
df = DataFrame({'City':['Alma', 'Brian Head','Fox Park', 'Lake Mary'], 'Altitude': [10335, 9800,9062, 8966]})
df

         City  Altitude
0        Alma     10335
1  Brian Head      9800
2    Fox Park      9062
3   Lake Mary      8966

In [11]:
st_map = {'Alma':'Colorado', 'Brain Head' : 'Utah', 'Fox Park':'Wyoming','Lake Mary':'California'}
st_map

{'Alma': 'Colorado',
 'Brain Head': 'Utah',
 'Fox Park': 'Wyoming',
 'Lake Mary': 'California'}

In [12]:
#map()
df['State'] = df['City'].map(st_map)
df

         City  Altitude       State
0        Alma     10335    Colorado
1  Brian Head      9800         NaN
2    Fox Park      9062     Wyoming
3   Lake Mary      8966  California

In [20]:
#apply
df1 = df.copy()
def meter(x):
    return x/3.2808

In [21]:
df['Altitude'] = df['Altitude'].apply(meter)
df

TypeError: unsupported operand type(s) for /: 'method' and 'float'

In [19]:
df1['Altitude'] = df1['Altitude'].apply(lambda x: x/3.2808)
df1

TypeError: unsupported operand type(s) for /: 'method' and 'float'

In [22]:
df['Altitude'] = df['Altitude'].apply(lambda x: np.nan if x < 2800 else x)
df

TypeError: '<' not supported between instances of 'method' and 'int'